
#neutral{ background-color: rgb(10, 232, 10);}


.l1{background-color: rgb(0, 98, 255,.3);}
.l2{background-color: rgb(0, 98, 255,.4);}
.l3{background-color: rgb(0, 98, 255,.5);}
.l4{background-color: rgb(0, 98, 255,.6);}
.l5{background-color: rgb(0, 98, 255,.7);}
.l6{background-color: rgb(0, 98, 255,.8);}
.l7{background-color: rgb(0, 98, 255,.9);}
.t9{background-color: rgb(0, 98, 255, 1 );}


.l11{background-color: rgba(251, 9, 190, 0.3);}
.l22{background-color: rgba(251, 9, 190, 0.4);}
.l33{background-color: rgba(251, 9, 190, 0.5);}
.l44{background-color: rgba(251, 9, 190, 0.6);}
.l55{background-color: rgba(251, 9, 190, 0.7);}
.l66{background-color: rgba(251, 9, 190, 0.8);}
.p9{background-color:  rgba(251, 9, 190, 1);}
